---
import Recipes from '~/components/Recipes.svelte';
import Layout from '~/layouts/Layout.astro';
---

<Layout title="S-Recpies">
    <a href="/recipe/9y9f4tune4lyhnk">RECIPE</a>
    <Recipes client:idle />
</Layout>
