---
import { RecipeCard } from '~/components/index.svelte';
import Layout from '~/layouts/Layout.astro';
---

<Layout title="S-Recpies">
    <div class="w-2/3 grid grid-cols-3 gap-10">
        <RecipeCard />
        <RecipeCard />
        <RecipeCard />
        <RecipeCard />
        <RecipeCard />
        <RecipeCard />
    </div>
</Layout>
