---
import Layout from '~/layouts/Layout.astro';
import { Forms } from '~/partials/index.svelte';

const cookie = Astro.request.headers.get('cookie') ?? '';

if(/pb_auth/.test(cookie)) {
    return Astro.redirect('/');
}
---

<Layout title="Login" noNav={true}>
    <div
        class="absolute top-1/2 -translate-y-1/2 w-full place-items-center grid"
    >
        <Forms.Login client:idle />
    </div>
</Layout>
