---
import Layout from '~/layouts/Layout.astro';
import { Forms } from '~/partials/index.svelte';
---

<Layout title="Register" noNav={true}>
    <div
        class="absolute top-1/2 -translate-y-1/2 w-full place-items-center grid"
    >
        <Forms.Register client:idle />
    </div>
</Layout>
